.bg-container{
    height: 100vh;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
.random-generator-bg{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color-palettes-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}
.saved-palettes-bg{
    width: 100%;
    overflow-y:auto ;
}

.saved-palettes-list{
    list-style-type: none;
    display: flex;
}